.env
credentials.json
.wwebjs_auth/
__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/
*.egg-info/
*.egg
.venv/
venv/
env/
pip-cache/
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea/
.vscode/
.DS_Store
Thumbs.db
